.features{
    margin-bottom: 50px;
}
.features__wrapper{
    width: 1400px;
}
.features__list{
    display: flex;
    padding: 0;
    margin: 0 auto;
    list-style: none;
}
.features__item{
    padding-left: 50px;
}