.features{

    background: #F2F2F2;
}
.features__wrapper{
    margin: 0 auto;
}
.features__title{
    padding: 50px 0;
}
.features__list{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.features__item {
    position: relative;
    width: 450px;
    background: #E4D39F;
    border-radius: 10px;
    margin-right: 30px;
}
.features__item:last-child{
    margin-right: 0;
}
.features__link {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 130px;
    
    padding: 40px;

    font-size: 24px;
    font-weight: 500;
    color: #0E1821;
    text-decoration: none;
}
.features__link:hover{
    text-decoration: none;
    opacity: 0.7;
}
.features__link span{
    display: block;
    width: 130px;
    padding-left: 200px;
}
.features__link--paypal::before{
    content: '';
    position: absolute;
    display: block; 
    top: 23px; 
    bottom: 0;
    width: 120px;
    height: 100px; 
    background: url("../img/paypal_features.svg") no-repeat;
    background-size: 100px 100px;
}
.features__link--shipping::before{
    content: '';
    position: absolute;
    display: block; 
    top: 23px; 
    bottom: 0;
    background: url("../img/shipping_features.svg") no-repeat;
    width: 120px;
    height: 100px;
    background-size: 100px 100px;  
}
.features__link--help::before{
    content: '';
    position: absolute;
    display: block; 
    top: 23px; 
    bottom: 0;
    width: 120px;
    height: 100px;
    background: url("../img/help_features.svg") no-repeat;
    background-size: 100px 100px;  
}
@media(max-width: 1199px){
    .features__link span{
        padding-left: 130px;
    }
}
@media(max-width: 992px){
    // .features__link{
    //     padding: 0 0 0 65px;
    // }
    // .features__link--paypal::before{
    //     background-size: 70px 100px; 
    // }
    // .features__link--shipping::before{
    //     background-size: 70px 100px;
    // }
    // .features__link--help::before{
    //     background-size: 70px 100px;
    // }
    // .features__link span{
    //     padding-top: 120px;
    //     padding-left: 0;
    // }
    .features__list{
        flex-wrap: wrap;
    }
    .features__item{
        width: 100%;
        margin-top: 30px;
        margin-right: 0;
    }
    .features__link--paypal::before{
            background-size: 80px 80px; 
        }
        .features__link--shipping::before{
            background-size: 80px 80px;
        }
        .features__link--help::before{
            background-size: 80px 80px;
        }
        .features__link span {
            width: 300px;
        }
    
}