.new_arrivals{
    background: #F2F2F2;
}
.new_arrivals__wrap{
    margin: 0 auto;
}
.new_arrivals__title{
    margin: 0;
    padding-top: 80px;
    padding-bottom: 50px;
    font-weight: 600;
    font-size: 36px;
}

.new_arrivals__list{
    display: flex;
    
    padding: 0;
    margin: 0;
    list-style: none;
}
.new_arrivals__link:hover{
    text-decoration: none;
}
.new_arrivals__item{
    position: relative;
    box-sizing: border-box;
    display: block;

    width: 265px;
    margin-right: 115px;
    margin-bottom: 100px;
    
    background: #FFFFFF;
    font-size: 19px;
    border: 1px solid #ececec;
    line-height: 24px;
    font-weight: bold;
    text-decoration: none;
}
.new_arrivals__item:last-child{
    margin-right: 0;
}
.new_arrivals__item:hover{
    box-shadow: 0 4px 18px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    text-decoration: none;
    cursor: pointer;
}
.new_arrivals__name{
    display: block;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: medium;
}
.new_arrivals__raiting{
    margin-top: 9px;
    margin-bottom: 15px;
    margin-left: 15px;
}
.new_arrivals__star{
    width: 15px;
    height: 15px;
}
.new_arrivals__link{
    display: block;
    color: #0E1821;
    text-decoration: none;
}
.new_arrivals__bottom{
    display: flex;
    margin-bottom: 45px;
    margin-left: 15px;
    margin-right: 20px;
}

@media(max-width: 1199px){
    .new_arrivals__item{
        margin-right: 50px;
    }
}
@media(max-width: 992px){
    .new_arrivals__item{
        margin-right: 15px;
    }
}
