.about_us{
    background: #F2F2F2;
    padding-bottom: 80px;
}
.about_us__wrapper{
    display: flex;
    margin: 0 auto;
    background: #F8F8F8;
    border-radius: 10px;
}
.about_us__slider{
    width: 600px;
    border-radius: 5px;
}
.about_us__title{
    margin: 0;
    padding-top: 25px;
    padding-left: 190px;
    font-weight: 600;
    font-size: 36px;
}
.about_us__text{
    padding-top: 10px;
    padding-left: 45px;
    font-size: 24px;
}

@media(max-width: 1199px){
    .about_us__title{
        padding-left: 100px;
        font-size: 30px;
    }
    .about_us__text{
        font-size: 20px;
    }

}
@media(max-width: 992px){
    .about_us__wrapper{
        flex-direction: column;
    }
    .about_us__slider{
        width: 100%;
        order: 2;
    }
    .about_us__description{
        margin-bottom: 30px;
    }
    .about_us__title{
        padding-left: 0;
        font-size: 36px;
        text-align: center;
        order: 1;
    }
    .about_us__text{
        padding: 10px 30px;
        text-align: center;
        margin: 0;
    }
}